body{
    background: rgb(0, 0, 0);
}

h1 {
    color: rgb(0, 256, 0);
    font-family: 'Lucida Console';
    border-bottom: 1px solid black;
}

h2 {
    color: rgb(100, 256, 100);
    font-family: 'Lucida Console';
}
  
p {
    color: rgb(200, 256, 200);
    font-family: 'Lucida Console';
}

ul {
    color: rgb(200, 256, 200);
    font-family: 'Lucida Console';
}